:root {
  --red: #da0000;
  --lightGray: #78797a;
  --darkColor: #2b2c35;
}

@font-face {
  font-family: "Play";
  src: url("./fonts/Play-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy/Gilroy-Light.ttf");
}

html,
body {
  /* height: 100% !important; */
  width: 100% !important;
  background-color: #ebecf0;
  padding: 1.5% 2.5%;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  font-family: Gilroy-Light;
  font-size: 20px;
}

h1,
h2,
h3,
a {
  font-family: Play;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

a {
  all: unset;
  display: block;
  cursor: pointer;
  color: var(--red);
  margin-top: 4rem;
  font-size: 1.2rem;
  font-family: Gilroy-Light;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

header img {
  width: 160px;
  overflow: hidden;
}

header > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__lang-links {
  display: flex;
  /* margin: 0 1rem 0 0; */
  gap: 0.5rem;
  cursor: pointer;
}

.header__lang-links a {
  all: unset;
  font-family: Play;
  display: block;
  position: relative;
  color: var(--lightGray);
  text-transform: uppercase;
  overflow: hidden;
  padding-top: 6px;
}

.header__lang-links a:first-child {
  color: var(--red);
}

.header__lang-links a:hover {
  color: var(--red);
}

.header__lang-links a::before {
  position: absolute;
  content: "";
  top: 0;
  width: 24px;
  height: 2px;
  background-color: var(--red);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.header__lang-links a:hover::before {
  transform: translateX(0);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  width: 55px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}

.hamburger > div {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgb(231, 10, 10) 50%,
    rgb(194, 3, 3)
  );
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger > div:nth-child(2) {
  transform: translateX(20%);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

.hamburger > div:nth-child(3) {
  transform: translateX(50%);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}

.hamburger > div::after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgb(231, 10, 10) 50%,
    rgb(194, 3, 3)
  );
  transform: translateX(110%);
}

.hamburger > div:nth-child(2):after {
  transform: translateX(130%);
}

.hamburger > div:nth-child(3):after {
  transform: translateX(160%);
}

.hamburger:hover > div {
  transform: translateX(-105%);
}

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.banner__heading > h1 span {
  text-transform: uppercase;
  color: var(--red);
}

.banner__heading p {
  font-family: Play;
  font-size: 25px;
}

.banner img {
  overflow: hidden;
  object-fit: contain;
  flex-basis: 50%;
  flex-shrink: 0;
}

.section-1 {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 2rem 0;
}

.swiper-1 {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  flex-shrink: 0;
}

.swiper-1 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.swiper-1 .swiper-slide h3 {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-1 .swiper-slide a {
  position: absolute;
  left: 0;
  bottom: 0;
}

.swiper-1 .swiper-slide > img {
  object-fit: contain;
  width: 80%;
  overflow: hidden;
}

.swiper-1 .swiper-next,
.swiper-1 .swiper-prev {
  position: absolute;
  width: max-content;
  height: max-content;
  margin: auto 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.swiper-prev {
  left: 0;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-2__heading h3 {
  margin-bottom: 4rem;
}

.section-2__stats {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 300px));
  justify-content: end;
  gap: 2rem;
  flex-basis: 50%;
  flex-shrink: 0;
}

.section-2__stats > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
  box-shadow: inset -2px -2px 3px hsla(0, 0%, 100%, 0.7),
    inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 3/2;
}

.section-2__stats > div h2,
.section-2__stats > div h3 {
  margin: 0;
}

.section-2__stats > div:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 90%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: -2px -2px 3px hsla(0, 0%, 100%, 0.7),
    2px 2px 3px rgba(0, 0, 0, 0.3);
}

.section-2__stats > div h2 {
  font-size: 70px;
  font-weight: 800;
  color: var(--red);
}

.section-2__stats > div h3 {
  font-size: 25px;
  font-weight: 800;
}

.section-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  width: 100%;
  color: white;
  overflow: hidden;
}

.section-3__col-1 {
  background-color: var(--darkColor);
  padding: 80px;
}

.section-3__col-1 h2 {
  margin: 0 0 5rem 1rem;
  font-weight: 200;
  opacity: 0.8;
}

.section-3__qualities > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.section-3__qualities > div:last-child {
  margin: 0;
}

.section-3__qualities h2 {
  font-size: 25px;
}

.section-3__qualities > div h2 {
  margin: 0;
}

.section-3__qualities--desc {
  display: flex;
  flex-direction: column;
}

.section-3__qualities--img {
  position: relative;
  box-shadow: inset -3px -3px 5px hsla(0, 0%, 100%, 0.2), inset 3px 3px 5px #000;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-self: center;
  width: 100px !important;
  aspect-ratio: 1/1;
}

.section-3__qualities--img img {
  filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.8));
}

.section-3__qualities--img:after {
  content: "";
  position: absolute;
  width: 86%;
  height: 86%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -2px -2px 4px hsla(0, 0%, 100%, 0.2), 2px 2px 4px #000;
}

.swiper-2 {
  width: 100%;
  cursor: grab;
}

.swiper-2 .swiper-slide {
  color: black;
}

.swiper-2 .swiper-slide > h3 {
  margin: 0;
}

.swiper-2 .testimonials {
  margin-top: 4rem;
}

.testimonials__name {
  font-size: 24px;
}

.testimonials__position {
  color: gray !important;
}

.testimonials__place {
  color: var(--red);
}

.swiper-2 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: brown;
  background-color: #ebecf0;
  background-color: var(--whiteColor);
  box-shadow: inset -2px -2px 4px #fff, inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 1;
  outline: none;
  cursor: pointer;
}

.swiper-2 .swiper-pagination-bullet-active {
  box-shadow: -2px -2px 4px #fff, 2px 2px 5px rgba(218, 0, 0, 0.5);
  background: linear-gradient(90deg, #ff4e4e, #da0000);
}

.section-4 {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 3rem;
  align-items: center;
  margin-top: 2rem;
}

.swiper-3 {
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.swiper-3 img {
  object-fit: contain;
  width: 200px;
  height: 70px;
  overflow: hidden;
}
